.tooltip {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1100;
  transition: opacity 0.3s ease;
}

.tooltip img {
  width: 130px;
  height: 130px;
}
